{%extends "base.html"%}

{% block title %}
Обо мне
{% endblock %}

{% block body %}
    <h5><a class="me-3 py-3 link-body-emphasis text-decoration-none" href="/">на главную</a></h5>
    <p>
    Я в социальных сетях:<img src="http://dl4.joxi.net/drive/2023/05/13/0052/0336/3469648/48/f83ce4ba54.jpg"
        width="201"
        height="409"
        class="rightpic"></p>
    <p><img src="https://sun9-15.userapi.com/impg/PvDUYxeIzJtS__jyba0uyebKyRNMgifHblmPmA/JOmZk6b8iyg.jpg?size=1280x1280&quality=95&sign=42b800f3812e9a5dc746eb947f6f3f64&c_uniq_tag=2LwW6RMIOchwFHecv0YDZDj6_VnITXh4KkHXRj0C0S4&type=album"
        width="25"
        height="25">
        Discord - OnarousBrak#1022</p>
    <p><img src="https://avatars.mds.yandex.net/get-images-cbir/4429342/2g_uK1mJ_aFE_tD5nlis0g1346/ocr"
        width="25"
        height="25">
        Steam - <a href='https://steamcommunity.com/profiles/76561198988888419'>Onarous</a>(кликабельно)</p>
    <p><img src="https://m-files-new.cdnvideo.ru/lpfile/7/d/6/7d6c747a11f1a09748d10e25e69cb285/-/scale/x2/-/crop/0x0x225x225/-/resize/40/-/quality/100/f.png"
        width="25"
        height="25">
        VK - <a href='https://vk.com/id523789925'>Илья Лобанов</a>(кликабельно)</p>

{% endblock %}